#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.buttonContainer h2 {
  font-size: 18px;
}

.buttonContainer  input {
  max-width: 120px;
  margin-bottom: -6px
}

@media screen and (max-width: 600px) {

  .header {
    justify-content: space-between;
  }

  .header h2 {
  }

  .buttonContainer {
    gap: 6px;
  }

  .buttonContainer  input {
    max-width: 60px;
  }
}